@import 'body';
@import 'header';
/* Category buttons styles */
.category-buttons {
  display: flex;
  flex-direction: row;
  overflow-x: auto; // Enable horizontal scrolling on small screens
  -webkit-overflow-scrolling: touch; // Momentum scrolling on iOS
  gap: 5px;
  margin-bottom: 20px; // Updated to match the provided code
  padding: 5px 0; // Padding to prevent buttons from touching the edges
  &::-webkit-scrollbar {
    // Hide the scrollbar
    display: none;
  }

  .category-btn {
    flex: 0 0 auto; // Ensure buttons do not stretch
    background-color: #f0f0f0;
    background-image: linear-gradient(
      to bottom right,
      #fdfbfb,
      #ebedee
    ); // Subtle gradient
    border: 1px solid #dcdcdc; // Slight border
    border-radius: 25px; // Rounded corners
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    font-weight: bold; // Make the text a bit bolder
    text-transform: uppercase; // Uppercase text for style
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); // Soft shadow for depth
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s; // Smooth transitions for hover effects

    &:hover {
      background-color: #e2e2e2;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); // Larger shadow on hover for a "lifting" effect
      transform: translateY(-2px); // Slight raise on hover
    }

    &:active {
      transform: translateY(1px); // Slight press-down effect on click
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); // Deeper shadow on click
    }
  }
}
